* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.textboxes {
    width: 35%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.csvFormat, .jsonFormat {
    width: 45%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

span {
    font-size: 20px;
    font-weight: bold;
}

textarea {
    width: 100%;
    height: 90%;
    font-size: 16px;
    padding: 10px;
    resize: none;
    border-radius: 15px;
}

button {
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid green;
    border-radius: 10px;
    color: green;
    background-color: white;
}

button:hover {
    cursor: pointer;
    transition: 0.3s ease;
    color: white;
    background-color: green;
}

button:active {
    opacity: 0.7;
}